aside {
    margin-top: 16px;
}

/* Remover subrayado de los enlaces */
a {
    text-decoration: none;
}
  
/* Remover subrayado en enlaces dentro de botones */

p{
    margin-bottom: 0px
}



/* Clase para centrar el contenido dentro del botón */